*.py[cdo]
*.mo
*.env
.vscode
*.session.sql
temp_files
*.pytest_cache
*.log
admin_static
nginx_static
*.json
!ETL_process_files/migrate_data/load/es_schema_persons_genres.json
venv
!ETL_process_files/migrate_data/load/es_schema.json
!ETL_process_files/data.env